@import "tailwindcss";

@theme {
  /* Yahan aap apne CSS variables ko Tailwind classes ke sath link kar rahe hain */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
  /* Agar background aur foreground bhi map karne hain */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #f4f7fa;
  --foreground: #1e293b;
  --primary: #1E90FF;
  --secondary: #00bfff;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Geist font jo layout mein set hai wo auto apply hoga, warna sans-serif */
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Sidebar ke liye smooth scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}